body
{
	text-align: center;
	min-height: 101%;
	
	font: 100.01%/130% Droid Sans, Arial, Helvetica, sans serif;
	color: #524E4A;
	
	background-color: #eee;
	background-image: url(../img/sample_map.png);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: scroll;
} 

.descriptionForm {
	height: 80%;
	border-style: none;
}

.description {
	height: 85%;
	width: 100%;
}

.imageArea {
	width:70%;
	height:50%;
}

.left {
	border-style: none;
	margin-left:15%;
	margin-top: 1%;
	width: 70%;
	height: 90%;
}

.right {
	border-style: none;
	float: left;
	margin-left: 2%;
	width: 25%;
}

.submit_button {
	margin-top: 5%;
	text-align: right;
}

.thumb {
	margin-top: 2%;
}

.btn {
	width: 100%;
}

