body
{
	text-align: center;
	min-height: 101%;
	margin: 0px;
	
	font: 100.01%/130% Droid Sans, Arial, Helvetica, sans serif;
	color: #524E4A;
	
	background-color: #eee;
	background-image: url(../img/sample_map.png);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: scroll;
} 

.descriptionForm {
	height: 80%;
	border-style: none;
}

.descriptionContainer {
	width: 70%;
}

.description {
	height: 85%;
	width: 100%;
}

.imageArea {
	width:70%;
	height:50%;
}

.left {
	border-style: none;
	margin-left:25%;
	margin-top: 1%;
	width: 70%;
	height: 90%;
}

.right {
	border-style: none;
	float: left;
	margin-left: 2%;
	width: 25%;
}

.submit_button {
	margin-top: 3%;
	text-align: right;
	width: 70%;
}

.thumb {
	margin-top: 2%;
}

.btn {
	width: 100%;
}

.tooltip {
	margin-top: -3.4em;
	margin-left: -1.3em;
    position: absolute;
    padding: 10px;
    font-size:1.0em;
	line-height:1.2em;
    text-align: center;
    color: #333;
    background: rgb(255, 255, 102);
    border: 2px solid rgb(255, 255, 102);
    border-radius: 2px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: 5px 5px 0 0 rgba(68,68,68,0.4);
white-space:nowrap;  
}

.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #ffff66 transparent transparent transparent;
      top: 2.6em;
      left: 1.0em;
      
}

#zettl_marker01 {
	position:absolute;
	top:200px;
	left:15%;
}

#zettl_marker02 {
	position:absolute;
	top:400px;
	left:10%;
}

#zettl_marker03 {
	position:absolute;
	padding:10px;
	top:200px;
	left:80%;
}

