.description {
	-webkit-box-shadow: 10px 8px 10px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 	10px 8px 10px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 		10px 8px 10px 1px rgba(0, 0, 0, 0.3);
	border:LightGray 1px solid;
	width: 100%;
}


.left_bottom {
	margin-top: 5%;
	text-align: right;
}

.left {
	float: left;
	margin-right: 5%;
}

.right {
	width: 120%;
}



.btn {
	width: 100%;
}




textarea { 
    resize: none; 
}