h1 { font-size: 1.8em; font-weight: normal; font-family: 'Times New Roman'; }

.aspectwrapper {
display: inline-block; /* shrink to fit */
width: 30%; /* whatever width you like */
position: relative; /* so .content can use position: absolute */
}
.aspectwrapper::after {
padding-top: 141.4285714%; /* percentage of containing block _width_ */
display: block;
content: '';
}
.content {
position: absolute;
top: 0; bottom: 0; right: 0; left: 0; /* follow the parent's edges */
outline: thin solid black; /* just so you can see the box */
}