.flypost {
	border-style: none;
	width: 420px;
	height: 594px;
}

.headline {
	height: 20px;
	font-size: 1.4em;
	font-weigth: bold;
	text-align: center;
	margin-bottom: 10px;
}

.imageAndDescription {
	height: 300px;
	width: 350px;
}

.image {
	width: 350px;
	text-align: center;
}

.description {
	margin-top: 10px;
	border-style: none;
}

.sheets {
	position: absolute;
	top: 470px;
	height: 106px;
	border-top: grey 2px dashed;
}

.sheet {
	-moz-transform: rotate(270deg);  /* FF3.5+ */        
	-o-transform: rotate(270deg);  /* Opera 10.5 */   
	-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */              
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */          
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE8 */
	position:relative;
	left:-50%;
	top:40%;
	font-size:0.7em;
	width:200%
}

