body
{
	text-align: center;
	min-height: 101%;
	
	font: 100.01%/130% Droid Sans, Arial, Helvetica, sans serif;
	color: #524E4A;
	
	background-color: #eee;
	background-image: url(../img/sample_map.png);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: scroll;
}

.row {
	text-align:left;
	color: #3375D2;
	margin-left: 0px;
}

.locationForm {
	background-color:rgba(255,255,255,0.3);
	height: 80%;
	border-style: none;
	margin-left: 2%;
	margin-right: 2%;
}

.zettlInput {
	height: 7% !important;
}

.longZettlInput {
	width: 100% !important;
}

.shortLongRow {
	width: 100%;
	border-style: none;
}

.short {
	width: 100% !important;	
}

.long {
	width: 78%;
}

.left {
	float: left;
	width: 20%;
	margin-right:2%;
}

.right {
	width: 100%;
	text-align: right;
}

.radiusLabel {
	text-align: right;
	vertical-align: middle;
	border-style: none;
	border-width: 0px;
	width: 100%;
	height: 5%;
	margin-right:2%;
	background-color: ffffff;
}

.buttons {
	width: 26%;
}

h2 {
	font-size: 1.5em;
}