html,body {
  height: 100%;
  width: 100%;
  
  overflow: hidden;
}

body
{
	text-align: center;
	min-height: 101%;
	margin: 0px;
	
	font: 100.01%/130% Droid Sans, Arial, Helvetica, sans serif;
	color: #524E4A;
}
 
a {
  /* color: #ffff00; */
  text-decoration: none;
}
 
a:hover {
  /* color: #ffff00; */
  text-decoration: underline;
}
 
#header {
  /* font-family: Verdana, Arial;
  font-size: 1em; */
  overflow: hidden;
  /* color: #ffffff; */
}
 
#map {
  height: 80%;
  width: 100%;
  padding: 0; margin: 0;
}
 
#content {
  font-size: 1em;
}
 
#osm {
  font-size: 0.7em;
  font-style: italic;
  margin-bottom: 20px;
}

.button {
	position: absolute;
	border-style: solid;
	top: 80%;
	width: 10%;
	padding: 1%;
	background-color: white;
	z-index: 1000;
	text-align: center;
}

.zettlButton {
	left: 70%;
}

.flyerButton {
	left: 83%;
}