.zettl {
	margin-left:0%;
	margin-right:0%;
	width: 100%;
	height: 100%;
	background-color:rgba(255,255,255,0.6);
}

/* zettl header */

.header{
	background-color:rgba(255,255,255,0.9);
	padding:20px;
	font-size: 1.4em;
	line-height: 100%;
	position:relative;
	z-index:99;

}

.header span {
	margin: 0 20px 0 20px;
	font-size: 2.0em;
	line-height: 100%;
}

.mark {
	text-align: left;
}

.header_link {
	margin-left: 2%;
}

.header_headline {
	// font-size: 2.0em;
	// margin: 0 20px 0 20px;
	float: left;
}
.footer {
	width: 100%;
	border-top-style: solid;
	position:absolute; bottom:0px; 
	background-color:rgba(255,255,255,0.7);
	margin-bottom:-10px;
	z-index:99;	
}

.footer span{
	float:right;
	font-size: 0.8em;
	line-height: 100%;
	padding:20px 20px 30px 20px;
}


.aspectwrapper {
	display: inline-block; /* shrink to fit */
	width: 30%; /* whatever width you like */
	position: relative; /* so .content can use position: absolute */
	margin-left: 2%;
}
.aspectwrapper::after {
	padding-top: 141.4285714%; /* percentage of containing block _width_ */
	display: block;
	content: '';
}
.content {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0; /* follow the parent's edges */
	border: thin none black; /* just so you can see the box */
}


.specificContent {
	margin-top: 5%;
}

.zettl_button
{
    transition-duration: 0.2s;
    border-radius: 2px 2px 2px 2px;
    border: solid 2px #3D80EE;
   
    color:#fff;
    text-shadow: 0 -1px 0 rgba(60, 60, 60, 0.4);
    padding: 0.4em 1.0em;    
    background-color: #347bf0;

}

.zettl_button:hover {
    border: solid 2px #2365D2;
    background-color: #3375D2;
  	box-shadow: 0 0 5px 0 rgba(30,30,30,0.3);
    
}
.zettl_button:active {
    box-shadow: inset 0 0 3px rgba(30, 30, 30, 0.5);
    border: solid 2px #1b57Ba;
    background: #2b67ca;
}
